@font-face {
   font-family: 'big_noodle_titling';
   font-display: swap;
   src: url('file:///C:/Users/VAIBHAV/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-01-18_162415/fonts/big_noodle_titling/font.ttf');
}
