{% extends "hindi/main.html" %}

{% load static %}

{% block meta_details %}
  <meta name="keywords" content="{{ news.meta_tags }}" />
  <meta name="description" content="{{ news.meta_description }}" />
  <meta property="og:description" content="{{ news.meta_description }}">
  <meta property="twitter:description" content="{{ news.meta_description }}">
{% endblock %}
{% block head %}
        <meta name="title" content="{{ news.title }} | Bridge2Capital">
        <meta property="og:title" content="{{ news.title }} | Bridge2Capital">
        <meta property="twitter:title" content="{{ news.title }} | Bridge2Capital">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.path }}">
    <meta property="twitter:url" content="{{ request.path }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{ news.image.url }}">
    <meta property="twitter:image" content="{{ news.image.url }}">
    
{% endblock head %}

{% block title %}

{{ news.title }} | Bridge2Capital

{% endblock %}

{% block content %}

<div class="container" style="margin-top: 150px;">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/hi/news">News</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>
  </ol>
</nav>
</div>

<div class="container" style="margin-top: 30px;">

    <div class="col-sm-10">

<h1 class="text-left">{{ news.title }}</h1>

<p class="text-left">{{ news.date }}</p>

<p class="text-left">{{ news.by_tag }}</p>

<hr>

<img src="{{ news.image.url }}" style="width: 100%;" />

<br>

<p>{{ news.body|safe }}</p>

{% if news.url %}

<p>Source: <a class="text-left" href="{{ news.url }}" style="color: blue;">{{ news.url }}</a></p>

{% endif %}

</div>

</div>

{% endblock %}