{% extends 'english/main.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">


<title>Bridge2Hissab</title>
<link rel="stylesheet" href="{% static 'assets_hissab/tether/tether.min.css' %}">
<link rel="stylesheet" href="{% static 'assets_hissab/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets_hissab/bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'assets_hissab/bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'assets_hissab/theme/css/style.css' %}">
<link href="{% static 'assets_hissab/fonts/style.css' %}" rel="stylesheet">
<link rel="preload" as="style" href="{% static 'assets_hissab/mobirise/css/mbr-additional.css' %}">
<link rel="stylesheet" href="{% static 'assets_hissab/mobirise/css/mbr-additional.css' %}" type="text/css">
{% endblock head %}
{% block content %}


    <section class="image1 cid-smvM0F1GGi" id="image1-s">




        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-7">
                    <div class="image-wrapper">
                        <img src="{% static 'assets_hissab/images/website-page-banner1.jpg' %}" alt="web-banner1">

                    </div>
                </div>
                <div class="col-12 col-lg extra-layer">
                    <div class="text-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style mb-3 display-2" style="font-family: 'AvenirLTStd-Heavy'!important; font-size: 2rem!important;">
                            BRIDGE2HISSAB</h2>
                        <h2 class="mbr-section-title mbr-fonts-style mb-1 display-1" style="font-family: 'AvenirLTStd-Heavy'!important;  font-size: 2.5rem!important;">DIGITAL VYAPAARI KA BHAROSA</h2>
                        <hr />
                        <p class="mbr-text mbr-fonts-style display-5" style="font-family: 'AvenirLTStd-Medium'!important;">Make your accounting digital
                            <br>and business easier​<br></p>
                        <a href="https://play.google.com/store/apps/details?id=com.bridge2capital&amp;hl=en"><img class="download-app" src="{% static 'assets_hissab/images/google_play.png' %}" alt="app-download"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="image1 cid-smvZ1x2QqD" id="image1-t">




        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-7">
                    <div class="image-wrapper">
                        <img src="{% static 'assets_hissab/images/website-page-banner2.jpg' %}" alt="bridge2capital">

                    </div>
                </div>
                <div class="col-12 col-lg extra-layer">
                    <div class="text-wrapper" style="font-size: 2rem!important">
                        <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5" style="font-family: 'AvenirLTStd-Heavy'!important;">Vernacular App​</h3>
                        <p class="mbr-text mbr-fonts-style display-7" style="margin-top: -8%!important; font-family: 'AvenirLTStd-Medium'!important;">Bridge2Hissab is tailormade for our customers & is available in their native language​</p>
                        <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5" style="margin-top: 10%!important; font-family: 'AvenirLTStd-Heavy'!important;">Reminders</h3>
                        <p class="mbr-text mbr-fonts-style display-7" style="margin-top: -8%!important; font-family: 'AvenirLTStd-Medium'!important;">Automatic reminder set-up to help you with vigilant accounting​</p>
                        <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5" style="margin-top: 10%!important; font-family: 'AvenirLTStd-Heavy'!important;">Reports & Statements</h3>
                        <p class="mbr-text mbr-fonts-style display-7" style="margin-top: -8%!important; font-family: 'AvenirLTStd-Medium'!important;">Daily/Monthly reports in just a click​</p>
                        <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5" style="margin-top: 10%!important; font-family: 'AvenirLTStd-Heavy'!important;">Safe, Secure & Verified</h3>
                        <p class="mbr-text mbr-fonts-style display-7" style="margin-top: -8%!important; font-family: 'AvenirLTStd-Medium'!important;">Switch to Bridge2Hissab from your traditional accounting for a safe,
                            <br>SECURE & VERIFIED BUSINESS</p>
                        <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5" style="margin-top: 10%!important; font-family: 'AvenirLTStd-Heavy'!important;">Improved Creditworthiness</h3>
                        <p class="mbr-text mbr-fonts-style display-7" style="margin-top: -8%!important; font-family: 'AvenirLTStd-Medium'!important;">Bridge2Hissab encourages bank transactions – a unique feature to help small businesses build verified financial data and get formalised​</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
        style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;">
        <a href="https://mobirise.site/h" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a>
        <p style="flex: 0 0 auto; margin:0; padding-right:1rem;"> <a href="https://mobirise.site/z"
                style="color:#aaa;"></a></p>
    </section>
    <section class="cta bg-yellow border-radius-left">
    <div class="container">
        <div class="text-group">
            <div class="head">
                <h2 class="white">Get In Touch</h2>
                <p class="p-big white">Interested? Reach out to us: we’re just a mail or call away. </p>
            </div>
            <div class="button">
                <a href="/contact-us" target="" class="btn btn-border-white yellow bg-white">Contact Us</a>
            </div>

        </div>
    </div>
</section>
<script src="{% static 'assets_hissab/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets_hissab/popper/popper.min.js' %}"></script>
<script src="{% static 'assets_hissab/tether/tether.min.js' %}"></script>
<script src="{% static 'assets_hissab/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets_hissab/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets_hissab/theme/js/script.js' %}"></script>

{% endblock content %}