@font-face {
   font-family: 'GOTHAM-BOLD_0';
   font-display: swap;
   src: url('file:///C:/Users/VAIBHAV/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-03-29_155842/fonts/GOTHAM-BOLD_0/font.TTF');
}
