body {
  font-family: 'AvenirLTStd-Book', sans-serif;
}
.cid-stcUvJ6Mqi .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-stcUvJ6Mqi .card-wrapper {
  margin-top: 3rem;
}
.cid-stcUvJ6Mqi .mbr-section-subtitle {
  text-align: left;
}
.cid-stcUvJ6Mqi .mbr-section-title {
  text-align: left;
}
.display-1 {
  font-family: 'AvenirLTStd-Book', sans-serif;
  font-size: 3rem !important;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem!important;
}
.display-2 {
  font-family: 'AvenirLTStd-Book', sans-serif;
  font-size: 2.6rem!important;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem !important;
}
.display-4 {
  font-family: 'AvenirLTStd-Book', sans-serif;
  font-size: 1.4rem !important;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem !important;
}
.display-5 {
  font-family: 'AvenirLTStd-Book', sans-serif;
  font-size: 2rem !important;
  line-height: 1.5 !important;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem !important;
}
.display-6 {
  font-family: 'AvenirLTStd-Book', sans-serif;
  font-size: 1.1rem !important;
  line-height: 1.5;
}
.display-7 {
  font-family: 'AvenirLTStd-Book', sans-serif;
  font-size: 1.6rem !important;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem !important;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem !important;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem !important;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))) !important;
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem !important;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))) !important;
    line-height: calc( 1.3 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem !important;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))) !important;
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem !important;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))) !important;
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem !important;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)))!important;
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
.cid-stcH1b2f96 H3 {
  padding-bottom: 0 !important;
}
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #5bc2a0 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #5bc2a0 !important;
  border-color: #5bc2a0 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #369173 !important;
  border-color: #369173 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #369173 !important;
  border-color: #369173 !important;
}
.btn-success,
.btn-success:active {
  background-color: #5bc2a0 !important;
  border-color: #5bc2a0 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #5bc2a0;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.mbr-gallery-filter li.active .btn {
  background-color: #5bc2a0;
  border-color: #5bc2a0;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #5bc2a0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #5bc2a0;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #5bc2a0;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #5bc2a0;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #5bc2a0;
  border-bottom-color: #5bc2a0;
}

.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%235bc2a0' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.header1 h1{
  color: #576084;
  padding-bottom: 0 !important;
}
.info2 .wrapper{
  padding: 30px 0 0;
}
.header1 {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets_health/images/health-bg1-1900x753.png");
  margin-top: 100px
}
.cid-stcH1b2f96 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #5bc2a0;
}
.cid-stcH1b2f96 .card {
  border-radius: 0;
}
.features3 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets_health/images/health_bg3.png");
  background-position: 90%;
}
.info1 {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #ffcc5e;
  margin-left: 100px;
  border-bottom-left-radius: 600px;
  border-top-left-radius: 600px;
}
.info1 .mbr-section-title {
    color: #ffffff;
    text-align: center;
}
.features3 .mbr-section-title, .features3 .mbr-section-subtitle, .features1 .card-text {
    color: #ffffff;
}
.insurance-logo1 {
  margin: 10rem auto 2rem;
}
.insurance-logo2 {
  margin: 9rem auto 2rem;
}
@media (min-width: 992px) {
  
}
@media (max-width: 991px) {
  .info2 .wrapper {
    padding: 20px 0;
}
@media (max-width: 768px){
.header1 {
  padding-top: 3rem;
  padding-bottom: 15rem;
  background-image: url("../../../assets_health/images/health-bg1-mb.png");
}
.insurance-logo1 {
    margin: 3rem 0rem 2rem;
}
.insurance-logo2 {
    margin: 0;
}
}
.features3{
  background-position: 50% 50%;
}
  .info1{
    margin-left: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}

.cid-stcH1b2f96 .mbr-section-title {
  color: #fafafa;
}
.cid-stcH1b2f96 .mbr-text,
.cid-stcH1b2f96 .mbr-section-btn {
  color: #ffffff;
}
.cid-stcH1b2f96 H3 {
  text-align: center;
  padding-bottom: 1.8rem;
}
.cid-stcUvJ6Mqi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets_health/images/health-bg2.png");
  background-position: right;
}
@media (min-width: 1500px) {
  .cid-stcUvJ6Mqi .container {
    max-width: 1400px;
  }
}
section {
  background-color: #ffffff;
}

body {
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: #232323;
  position: relative;
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}

a.mbr-iconfont:hover {
  text-decoration: none;
}

.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
  margin-bottom: 0;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

a, a:hover {
  text-decoration: none;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-4,
.display-5,
.display-7,
span,
p,
a {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

b,
strong {
  font-weight: bold !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
          transition-delay: 9999s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

textarea[type="hidden"] {
  display: none;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  visibility: hidden;
}

.mbr-z-index20 {
  z-index: 20;
}
/*! Text-aligns */
.align-center {
  text-align: center;
}

.features1 .card-wrapper{
  background-color: #ee7e24;
}
.card-box {
  width: 100%;
}
.card-wrapper {
  -webkit-flex: 1;
  background-color: #fff;
  padding: 1em 2em;
  border-radius: 30px;
  margin-top: 3rem;
}
.card-wrapper .iconfont-wrapper img{
  width: 90px;
  margin: auto auto 10px;
}

figure {
  margin-bottom: 0;
  overflow: hidden;
}

figure[mbr-media-size] {
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
}

img,
iframe {
  display: block;
  width: 100%;
}

.card {
  background-color: transparent !important;
  border: none !important;
}

.card-box {
  width: 100%;
}

.card-img {
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important;
  }
  .media {
    width: auto;
  }
  .mbr-figure {
    width: 100% !important;
  }
}

/*! Buttons */
.mbr-section-btn {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  font-size: 0;
}

.btn {
  font-weight: 600;
  border-width: 1px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: break-word;
}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}

/*! Btn icon margin */
.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
  margin-left: 0.5rem;
  vertical-align: sub;
}

.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
  margin-left: 0.8rem;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

[type="submit"] {
  -webkit-appearance: none;
}

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;
}

.mbr-fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*! Map */
.map {
  height: 25rem;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/*! Scroll to top arrow */
.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000;
  color: #ffffff;
  font-size: 22px;
}

.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.mbr-arrow-up a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.mbr-arrow-up a i {
  line-height: 60px;
}

.mbr-arrow-up-icon {
  display: block;
  color: #fff;
}

.mbr-arrow-up-icon::before {
  content: "\203a";
  display: inline-block;
  font-family: 'AvenirLTStd-Book', sans-serif;
  font-size: 22px;
  line-height: 1;
  font-style: normal;
  position: relative;
  top: 6px;
  left: -4px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*! Arrow Down */
.mbr-arrow {
  position: absolute;
  bottom: 45px;
  left: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}

.mbr-arrow > a {
  display: inline-block;
  text-decoration: none;
  outline-style: none;
  -webkit-animation: arrowdown 1.7s ease-in-out infinite;
          animation: arrowdown 1.7s ease-in-out infinite;
  color: #ffffff;
}

.mbr-arrow > a > i {
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 2rem;
}

#scrollToTop a i::before {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2.5px solid #fff;
  border-left: 2.5px solid #fff;
  width: 27.8%;
  height: 27.8%;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(135deg);
  transform: translateY(-30%) translateX(-50%) rotate(135deg);
}

@keyframes arrowdown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes arrowdown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 500px) {
  .mbr-arrow-up {
    left: 50%;
    right: auto;
  }
}

/*Gradients animation*/
@keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

.bg-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 5s infinite alternate;
  -webkit-animation: gradient-animation 5s infinite alternate;
}

.menu .navbar-brand {
  display: -webkit-flex;
}

.menu .navbar-brand span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.menu .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}

.menu .navbar-brand .navbar-logo img {
  display: -webkit-flex;
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-toggleable-sm .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
  }
}

@media (max-width: 991px) {
  .menu .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .navbar-collapse.show {
    overflow: auto;
  }
}

@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
  }
  .menu .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-flex !important;
  }
  .menu .collapsed .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .collapsed .navbar-collapse.show {
    overflow: auto;
  }
}

@media (max-width: 767px) {
  .menu .navbar-collapse {
    max-height: 80vh;
  }
}

.nav-link .mbr-iconfont {
  margin-right: .5rem;
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

.nav-dropdown .link {
  padding: 0.667em 1.667em !important;
  margin: 0 !important;
}

.nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.justify-content-center {
  -webkit-justify-content: center;
}

.card-wrapper {
  -webkit-flex: 1;
}

.jq-selectbox__select {
  padding: 7px 0;
  position: relative;
}

.jq-selectbox__dropdown {
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0 !important;
  width: 100% !important;
}

.jq-selectbox__trigger-arrow {
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.jq-selectbox li {
  padding: 1.07em 0.5em;
}

.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

.card-img {
  width: auto;
}

.menu .navbar.collapsed:not(.beta-menu) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

.dropup .dropdown-toggle::after {
  display: none;
}

:focus {
  outline: none;
}

blockquote {
  font-style: italic;
  padding: 3rem;
  font-size: 1.09rem;
  position: relative;
  border-left: 3px solid;
}

ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

@media (min-width: 992px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .row > [class*="col"] {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mbr-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767px) {
  .mbr-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-wrapper,
.item-wrapper {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */.engine {
  position: absolute;
  text-indent: -2400px;
  text-align: center;
  padding: 0;
  top: 0;
  left: -2400px;
}